PORT=8000

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<db_username>:<db_password>@<cluster-name>.xxxxx.mongodb.net/bookstore?retryWrites=true&w=majority

JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d
